<div class="container-fluid ">
  <div class="row">
  <div class="col-xs-12 col-sm-10  d-flex justify-content-left text-left">
<table class="table">
  <thead class="thread-white">
    <tr>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <div *ngIf="selected">
      <app-comentario-detail [comentarioDetail]="selectedComentario"></app-comentario-detail>
    </div>
    <tr *ngFor="let comentario of comentarios">
      <button  type="button" class="btn btn-danger" (click)="onSelected(comentario)">Mas Detalle</button>
      </tr>
    <td>{{paquete.nombre}</td>
  </tbody>
</table>
</div>
</div>
</div>
