

<div class="container-fluid">
  <div class="row">
    <h3>Filtro de proveedores por calificación</h3>
    <p class="mb-0">Seleccione la cantidad de estrellas para filtrar:</p>
    <div (mouseleave)="selected = selRating" class="mb-4">
      <a
        *ngFor="let item of [].constructor(5); let i = index"
        [routerLink]="['/proveedores/filtros/calificacion/' + (i + 1)]"
      >
        <app-rating-stars [self]="i" [selected]="selected" (mouseenter)="selected = i"></app-rating-stars>
      </a>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let p of proveedores" class="cards-container col-lg-3 col-md-6 col-sm-12 mb-5">
      <div class="card p-2" style="width: 17rem; height: 22rem">
        <a [routerLink]="['/proveedores/' + p.id]">
        <img
          class="card-img-top"
          src="{{ p.imagen }}"
          alt="{{ p.nombre }}"
          style="max-height: 474px;"
        />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ p.nombre }}</h5>
          <p>
            <span *ngFor="let item of [].constructor(p.calificacion); let i = index">⭐</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

