.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.not-found .error {
  font: 400 48px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.not-found .msg {
  font: 300 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
