<div class="container-fluid">
  <p class="h3 p-3">{{ eventoDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ eventoDetail.imagenes }}"
          alt="{{ eventoDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <h2>Descripción</h2>
      <p>{{eventoDetail.descripcion}}</p>
      <dl>
        <dt>Fecha</dt>
        <dd>{{eventoDetail.fecha}}</dd>
        <dt>Proveedor</dt>
        <dd>{{ eventoDetail.proveedor }}</dd>
      </dl>
    </div>
  </div>
 </div>
