<div class="container-fluid">
  <div class="banner">
    <img src="../../assets/logo.png" alt="logo">
    <div>
      <h1>Discomovil</h1>
      <p>La mejor opción para tus eventos!</p>
    </div>
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide carousel-dark"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/banner/banner1.jpeg"
          class="d-block w-100"
          alt="banner"
        />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="quienes-somos">
    <h1>Quienes Somos</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iusto
      dolore tempora minima officia repellendus cumque voluptatum nam
      blanditiis, officiis nisi amet aperiam sit, quia harum eos fuga ea
      repellat? Dolores eum sapiente modi nostrum aspernatur repellendus ex,
      quos reprehenderit.
    </p>
  </div>
</div>
