<div class="container">
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.cliente.nombre}}</h5>
      <p class="card-text"><strong>Email: </strong>{{this.cliente.email}}</p>
      <p class="card-text"><strong>Fecha Nacimiento: </strong>{{this.cliente.fechaDeNacimiento}}</p>
      <a href="#" class="btn btn-primary">Ver comentarios</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
</div>
